body {
  background-image: url("https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg?w=2000");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

header {
  text-align: center;
  font-size: large;
}

.back {
  color: white;
  position: relative;
  font-size: larger;
}

.Users,
th,
td {
  border: 2px solid white;
  border-collapse: collapse;
  border-radius: 20px;
  color: white;
  text-align: center;
  width: 20%;
}

tr:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.7);
}

tr:hover {
  background-color: aquamarine;
}

.userinfocaption {
  padding-top: 10px;
  font-size: small;
}

.customlist {
  display: inline-block;
  vertical-align: top;
}

iframe {
  float: right;
  margin-right: 10px;
}
