body {
  background-image: url("https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg?w=2000");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

header {
  text-align: center;
  font-size: large;
}

nav {
  display: flex;
  justify-content: flex-start;
}

nav ul {
  list-style: none; /* Remove default list styles */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

nav li {
  display: inline-block;
  margin-right: 20px; /* Add some spacing between navigation items */
}

nav li:last-child {
  margin-right: 0; /* Remove margin from the last navigation item */
}

nav a {
  color: greenyellow;
  text-decoration: none; /* Remove underline from anchor tags */
}

.Users,
th,
td {
  border: 2px solid white;
  border-collapse: collapse;
  border-radius: 20px;
  color: white;
  text-align: center;
  width: 20%;
}

tr:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.7);
}

tr:hover {
  background-color: aquamarine;
}

.userinfocaption {
  padding-top: 10px;
  font-size: small;
}

.customlist {
  display: inline-block;
  vertical-align: top;
}

iframe {
  float: right;
  margin-right: 10px;
}
