.borderColor {
  border: 5px solid powderblue;
  padding: 18px;
  text-align: center;
}

.borderColor.hover1:hover {
  color: burlywood;
  background-color: transparent;
  text-decoration: underline;
}

.borderColor.hover2:hover {
  color: yellowgreen;
  background-color: green;
  text-decoration: overline;
}

.borderColor.hover3:hover {
  color: crimson;
  background-color: transparent;
  text-decoration: wavy;
}

.nextpage{
  text-align: right;
  padding-right: 5px;
}